<style>
body { 
    margin: 0;
}

header {
    background: #241f31;
    padding: 0.6em;
}

.header-link {
    display: flex;
    gap: 0.3em;
    font-size: 2em;
    align-items: center;
    cursor: pointer;
    width: min-content;
    text-decoration: none;
}

.own-logo {
    height: 1.2em;
}

.own-name {
    color: white;
    cursor: pointer;
}

</style>
<header>
    <a class="header-link" href="/dashboard">
        <img class="own-logo" alt="eyedeer logo" src="/images/eyedeer.svg">
        <label class="own-name">EyeDeer</label>
    </a>
</header>